body {
    margin: 0;
}

.navbar {
    width: 100%;
    height: 60px;
    background: #000;
}

.nav_rigth {
    float: right;
}

.nav-item {
    float: left;
    list-style: none;
    margin-right: 50px;
    padding: auto;
}

.nav-link:hover {
    color: rgb(131, 125, 125);
}

.nav-link,
.nav-link_left {
    color: rgb(214, 210, 210);
    text-decoration: none;
}

.nav_left {
    float: left;
    margin: 0;
    padding-top: 20px;
}

.nav-link_left {
    text-transform: uppercase;
}

.nav-link_left span {
    color: dodgerblue;
}


/* ................................................................................................ */

.contant {
    width: 100%;
    height: 700px;
    background-image: url("../images/download.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}

.readmore p {
    padding-top: 100px;
    color: rgb(197, 193, 193);
    width: 80%;
    margin: auto;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

.readmore p span {
    font-size: 25px;
    color: #fff;
    opacity: 1.0;
}

.readmore button {
    width: 20%;
    height: 60px;
    margin-top: 100px;
    margin-left: 500px;
    background: #f27f46;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
}

.readmore button:hover {
    background: #ff7632;
    color: rgb(0, 0, 0);
}


/* ........................................................................................ */

.blog {
    width: 100%;
    height: 1700px;
    background-color: rgb(20, 22, 32);
    margin-bottom: 0;
}

.con_card {
    padding-top: 30px;
    height: 1100px;
}

.card {
    width: 25%;
    height: 500px;
    background-color: #fff;
    margin-left: 70px;
    border: 5px solid #ff7632;
    float: left;
    margin-bottom: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card img {
    width: 100%;
    height: 50%;
}

.card p {
    padding: 10px;
    padding-top: 1px;
    text-align: center;
}

.card p button {
    width: 30%;
    height: 30px;
    background: #f27f46;
    border-radius: 5px;
    font-weight: bolder;
    color: #fff;
}


/* .............................................................................. */

.blog_icon {
    width: 100%;
    margin-top: 60px;
}

.icon {
    width: 40%;
    height: 150px;
    color: #fff;
    padding: 0px;
    margin: 15px;
    margin-left: 50px;
    float: left;
    margin-bottom: 50px;
}

.icon hr {
    margin-top: 50px;
    opacity: 0.1;
    width: 100%;
}

.icon_part {
    float: left;
    width: 10%;
    height: 100%;
    padding: 0;
    font-size: 30px;
    margin: 10px;
    margin-top: 27px;
}

.icon_contant p {
    padding-top: 0;
    opacity: 0.7;
}


/* .............................................................................. */

.remove {
    padding: 0;
    margin: 0;
}

.contact {
    width: 100%;
    height: 700px;
    background-color: deeppink;
}

.contact_form {
    width: 60%;
    height: 100%;
    text-align: center;
    margin: auto;
    padding-top: 80px;
    color: #fff;
    font-family: cursive;
    text-transform: uppercase;
}

.contact_form h1 {
    margin: 0;
}

.contact_form h4 {
    opacity: 0.6;
}

.contact_form form input {
    display: block;
    width: 80%;
    height: 25px;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.contact_form form textarea {
    display: block;
    margin: auto;
    width: 80%;
    height: 190px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.contact_form form button {
    width: 20%;
    height: 50px;
    margin-top: 30px;
    border-radius: 5px;
    background: none;
    font-size: 15px;
    color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}