body {
    margin: 0;
}

.navbar {
    width: 100%;
    height: 60px;
    background: #000;
}

.nav_rigth {
    float: right;
}

.nav-item {
    float: left;
    list-style: none;
    margin-right: 50px;
    padding: auto;
}

.nav-link:hover {
    color: rgb(131, 125, 125);
}

.nav-link,
.nav-link_left {
    color: rgb(214, 210, 210);
    text-decoration: none;
}

.nav_left {
    float: left;
    margin: 0;
    padding-top: 20px;
}

.nav-link_left {
    text-transform: uppercase;
}

.nav-link_left span {
    color: dodgerblue;
}


/* ................................................................................................ */

.contant {
    width: 100%;
    height: 700px;
    background-image: url("../images/download.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}

.readmore p {
    padding-top: 100px;
    color: rgb(197, 193, 193);
    width: 80%;
    margin: auto;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

.readmore p span {
    font-size: 25px;
    color: #fff;
    opacity: 1.0;
}

.readmore button {
    width: 20%;
    height: 60px;
    margin-top: 100px;
    margin-left: 500px;
    background: #f27f46;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
}

.readmore button:hover {
    background: #ff7632;
    color: rgb(0, 0, 0);
}


/* ........................................................................................ */

.blog {
    width: 100%;
    height: 1100px;
    background-color: rgb(20, 22, 32);
}

.con_card {
    padding-top: 15px;
}

.card {
    width: 25%;
    height: 500px;
    background-color: #fff;
    margin-left: 70px;
    border: 5px solid #ff7632;
    float: left;
    margin-bottom: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card img {
    width: 100%;
    height: 50%;
}

.card p {
    padding: 10px;
    text-align: center;
}

.card p button {
    width: 30%;
    height: 30px;
    background: #f27f46;
    border-radius: 5px;
    font-weight: bolder;
    color: #fff;
}